.header {
    display: grid;
    grid-column: 1/37;
    grid-row: 1/8;

    grid-template-columns: repeat(36, 1fr);
    grid-template-rows: repeat(7, 1fr);

    background-color: rgb(255, 255, 255);
    background-image: url("../img/top.png");
    background-size: cover;
    background-position: center;

    overflow: hidden;
}

.header-sign {
    grid-column: 32/36;
    grid-row: 4/5;

    color: rgb(255, 255, 255);
    text-align: center;
}
